header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #8cb369;
    padding: 40px;
}

header h1 {
    font-size: 30px;
}

header h1::first-letter {
    color: #D9952C;
} 

header ul {
    display: flex;
    gap: 5px;
}

header ul li {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    color: #8cb369;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    font-size: 18px;
}

header li a:hover {
    background-color: #D9952C;
    color: #293241;
}